

.buttons-set__item {
    display: block;
    border-radius: 4px;
    border: transparent;
    min-width: 73px;
    padding: 6px 22px;

    color: $secondary-title-color;
    background-color: $secondary-background-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-set__item:hover,
.buttons-set__item:focus {
    color: $secondary-color;
    background-color:$accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-set {
    display: flex;
    gap: 8px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    justify-content: center;
}

.promo {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #ffffff;
}

.cards-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.cards-set__item {
    background-color: $fifth-background-color;
    width: 370px;
    border: 1px solid;
    color: $border-color;
}

.cards-set__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-set__link:hover,
.cards-set__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-set__thumb {
    position: relative;
    overflow: hidden;
}

.cards-set__thumb::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-set__description {
    position: absolute;

    width: 100%;
    height: 100%;
    padding: 63px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: $primary-background-color;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-set__caption {
    color: $secondary-title-color;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.cards-set__part {
    padding: 20px 24px;
}

.cards-set__title {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.cards-set__item:hover .cards-set__thumb::before,
.cards-set__item:focus .cards-set__thumb::before {
    transform: translateY(0%);
}

.cards-set__item:hover .cards-set__description,
.cards-set__item:focus .cards-set__description {
    opacity: 1;
}

// Adaptive-portfolio



@media screen and (max-width: 767px) {
 .buttons-set{flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;}  
        .promo {
            padding-top: 60px;
            padding-bottom: 60px;
            
        }
}
.cards-set{justify-content: center;}
@media screen and (min-width: 768px) and (max-width: 1199px)
{
    .cards-set__item{width: calc((100% - 60px) / 2)}
.promo {
    padding-top: 60px;
    padding-bottom: 60px;

}
.cards-set {
    justify-content:flex-start;
}

}
