/* section 4 */

.cards-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.members {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:$secondary-background-color;
}

.members__title {
    margin-bottom: 30px;
    // margin-bottom: 50px;
    text-align: center;

    color:$secondary-title-color;
    font-size: 36px;
}

.cards-list__info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cards-list__name {
    text-align: center;
    margin-bottom: 10px;
    color: $secondary-title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.cards-list__position {
    width: calc((100% - 30px) / 1);
    background-color: $fifth-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.cards-list__content {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc-list__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__icon {
    fill:$icon-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-list__link:hover,
.soc-list__link:focus {
    background-color: $accent-color;
}

.soc-list__link:hover .soc-list__icon,
.soc-list__link:focus .soc-list__icon {
    fill: $secondary-color;
}