.section {
  padding-top: 60px;
  padding-bottom: 60px;

}
.section-list {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px){
&__item:not(:last-child){margin-bottom: 30px;}
}}

.section-list__title {
  margin-bottom: 10px;
  text-align: center;

  color: $secondary-title-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-list__caption {
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.button-features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: $fourth-background-color;
  // width: 270px;
  height: 120px;
  
  border: none;
  margin-bottom: 30px;
  border: 4px;
  border-radius: 4px; 
  
  }
