
.border__burger-menu{border: none;
background-color:$primary-background-color;}


.header-flex {
    @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
        align-items: center;}
}

.header-flex {
    @media screen and (min-width: 768px){flex-grow: 0;}}
.site-nav__link--current::after{@media screen and (min-width: 480px)
{bottom:-31px;}}

.border__burger-menu {
    @media screen and (min-width: 768px) {
    display: none;
    }
}
.site-nav {
    @media screen and (min-width:768px)
{display: flex;
margin-left: 88px;}}
.site-nav__link{@media screen and (min-width:768px)
{padding: 0;}}

.contact-link {
    @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:auto;
    align-items: baseline; 
    font-size: 12px; 
    padding: 0;
}}

.element{ 
@media screen and (min-width:768px)   
{align-items: center;}}


.contact-link__item+.contact-link__item{
    @media screen and (min-width:768px)
{margin-left: 0px;}}



.contact-link {
    @media screen and (min-width:1200px) {
        flex-direction: inherit;
        gap: 30px;
        
    }}
    .contact-link__mail, .contact-link__phone {
    @media screen and (min-width:1200px)

    {font-size: 14px;
    line-height: 1.14;
}}

.logo-studio{
        @media screen and (min-width:1200px)
        {font-size: 26px;}}



// Hero

@media (min-width:768px)
{
.hero {background-image: url("../../images/Hero-tablet-1x.jpg"),linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));}
@media (min-resolution: 2dppx),
(min-device-pixel-ratio: 2),
(min-resolution:192dpi) {
.hero 
{background-image: url("../../images/Hero-tablet-2x.jpg"),linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));} } }



@media (min-width:1200px) {

.hero {background-image: url("../../images/Hero-desktop-1x.jpg"),linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));}

@media (min-resolution: 2dppx),
(min-device-pixel-ratio: 2),
(min-resolution:192dpi) {
    .hero
{background-image: url("../../images/Hero-desktop-2x.jpg"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));}
}
}

.hero {
    @media (min-width:1200px)
{padding:200px 0;}
}

.hero__title {
    @media (min-width:1200px) {
font-size:44px;}
}

// section2

.section-list {
    @media screen and (min-width:768px) {
    margin: -15px;    
    }
}

.section-list__item {
 @media screen and (min-width:768px)
{width: calc((100% - 60px) / 2);
margin: 15px;
}

@media screen and (min-width:1200px) {
width: calc((100% - 90px) / 4);}
}
.section-list {
    @media screen and (min-width:768px)
    {flex-direction: row;
        flex-wrap: wrap;
     
   }
   @media screen and (min-width:1200px) {
       flex-direction: row;
       flex-wrap:nowrap;

   }
}
@media screen and (min-width:1200px){
.section {
    padding-top: 94px;
    padding-bottom: 94px;

}}
// section 3

@media screen and (min-width:1200px) {
    .doing{display:block}
}


// section 4


@media screen and (min-width:768px){
.cards-list {
    flex-direction:row;
    flex-wrap: wrap;
    
}
.cards-list__position{
    width: calc((100% - 60px) / 2);
}}
@media screen and (min-width:1200px){
    .cards-list {
            flex-direction: row;
            &__position{width: calc((100% - 90px) / 4);}
        }
        .members {
            padding-top: 94px;
            padding-bottom: 94px;
            &__title{margin-bottom: 50px;}
}}
  
// section 5 


@media screen and (min-width:768px)

{
    .clients-list__item{width: calc((100% - 60px) / 3);}
}


@media screen and (min-width:1200px){

    .clients {
        padding-top: 94px;
        padding-bottom: 94px;   
    }

    .clients-list__item {
            width: calc((100% - 150px) / 6);
        }
}

// Footer


@media screen and (max-width:767px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 60px;
    }
.footer-box-one{width: 100%;}
    .footer-general-box {
        flex-direction: column;
    }

    .footer-social-title {
        text-align: center;
    }

    .footer-box-two {
        width: 100%;
        margin-bottom: 60px;
        margin-left: 0px;
    }

    .logo-studio.footer__logo-studio {
        justify-content: center;
        // margin-bottom: 20px;
    }

    .adress-link {
        text-align: center;
        margin-bottom: 50px;
    }

    .footer-form {
        flex-direction: column;

        &__input {
            width:100%;
            margin-bottom: 20px;
        }
    }

    .footer-three-box {
        margin-left: 0px;
        width: 100%;
    }

    .footer-field-label {
        text-align: center
    }
    .footer-button{margin-left: 0px;}
}



@media screen and (min-width: 768px) and (max-width: 1199px) {

.footer-general-box{
    display: flex;
    flex-direction:row;
flex-wrap: wrap;
justify-content: space-between;}
.footer-social-title {
    text-align: center;
}
.logo-studio.footer__logo-studio {
    justify-content: center;

}
.footer-meta{text-align: center;}
.footer-three-box{margin-top: 60px;
    margin-left: auto;
        margin-right: auto;
        .footer-field-label {
                text-align: center
            }
}
.footer-form{flex-direction: column;
&__input{margin-bottom: 30px;}}
}




@media screen and(min-width:1200px) {
    .footer-box-two {
        margin-left: 70px;
    }

    .footer-three-box {
        margin-left: 93px;
    }
}