
.border__burger-menu{border: none;
background-color:$primary-background-color;}

.element{
    @media screen and (min-width:480px) {
        justify-content: space-between;
    }}
.border__burger-menu {
    @media screen and (min-width: 480px) {
        display: none;
    }
}
.site-nav {
    @media screen and (min-width:768px)
{display: flex;}}

.contact-link {
    @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    gap: 10px;
    align-items: baseline;   
}}
.contact-link__mail {
    @media screen and (min-width:768px) {
        align-items: center;
    }
}

.element{ 
    @media screen and (min-width:768px)
{align-items: baseline;}}


.contact-link__item+.contact-link__item{
    @media screen and (min-width:768px)
{margin-left: 0px;}}

// desktop

.header-flex{}
