.container {

@media screen and (min-width: 480px)  
{width: 480px;
padding-left: 15px;
padding-right: 15px;}

}
.contact-link {
    @media screen and (min-width: 480px)
    {display: none;} }

// // hero

.hero{@media screen and (min-width: 480px)
{width: 480px;}}

// // 2 section

.doing{
    @media screen and (min-width: 480px)
{display: none;}}