
    $primary-text-color: #757575;
    $title-text-color: #000;
    $secondary-title-color: #212121;
    $accent-color: #2196f3;
    $secondary-color: #ffffff;
    $primary-background-color: #ffffff;
    $secondary-background-color: #f5f4fa;
    $third-background-color: #2f303a;
    $white-transparent-color: rgba(255, 255, 255, 0.6);
    $fourth-background-color: rgba(245, 244, 250, 1);
    $fifth-background-color: rgba(255, 255, 255, 1);
    $border-color: #eeeeee;
    $secondary-border-color: rgba(236, 236, 236, 1);
    $icon-color: rgba(175, 177, 184, 1);
    $button-hero-colour: rgba(33, 150, 243, 1);
    $button-hero-active: rgba(24, 140, 232, 1);
    $footer-icons-bgc: rgba(255, 255, 255, 0.1);
    $modal-button: rgba(24, 140, 232, 1);
    $check-mark-color: rgba(33, 33, 33, 1);
    $backdrop-bgc: rgba(0, 0, 0, 0.2);
